blib*
Makefile
Makefile.old
pm_to_blib*
*.tar.gz
.lwpcookies
cover_db
pod2htm*.tmp
/RT-Extension-Import-CSV*
*.bak
*.swp
/MYMETA.*
/t/tmp
/xt/tmp
bin/rt-extension-import-csv
perllocal.pod
install.json
MYMETA.json
.packlist
local/lib/perl5/x86_64-linux/Text/CSV_XS.pm
local/lib/perl5/x86_64-linux/auto/Text/CSV_XS/CSV_XS.so
bin/rt-extension-import-csv

